* {
  box-sizing: border-box;
  color: #2E5660;
  width: 100%;
}

.App {
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.hidden {
	display: none;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;    
}

h2 {
  background-color: #DEFCF1;
}

h3 {
  border-bottom: 2px solid #FDEEED;
}

a {
  text-decoration: none;
}

main {
  width: 90%;
  margin: auto;
  max-width: 750px;
}

button:hover {
  cursor: pointer;
}

@media all and (min-width: 580px) {
  .photo-section {
      display: flex;
  }
  .photo-section-text {
      margin-right: 25px;
  }
}

@media all and (max-width: 579px) {
  .photo-container {
      display: block;
  }
  .photo-section-text {
      margin-right: 0px;
  }
}