* {
  box-sizing: border-box;
  color: #2E5660;
  margin: 5px;
}

.hidden {
	display: none;
}

.App {
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;    
}
