.light, .dark, .white {
    width: 200px;
    height: 200px;
    padding: 25px 0px;
    border-radius: 50%;
    border: #2E5660 2px solid;
    text-align: center;
    line-height: 200px;
}

.light {
    background-color: #FDEEED;
}

.dark {
    background-color: #2E5660;
}

.white {
    background-color: #FFFFFF;
}

.logo {
    width: 65%;
}

.logo-container {
    text-align: center;
    margin: auto;
    width: 200px;
}

.logo-container div {
    margin-bottom: 15px;
    position: relative;
}

.read-more {
    background-color: #FDEEED;
    font-size: 15px;
    margin-bottom: 15px;
}

.photo-container img {
    border-radius: 3px;
}

@media all and (max-width: 580px) {
    .client-logos div:nth-child(even) {
        right: 35px;
    }
    
    .client-logos div:nth-child(odd) {
        left: 35px;
    }
}

@media all and (min-width: 581px) {
    .logo-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .logo-container div {
        margin: auto;
        margin-top: 25px;
    }

}